/*
Colors:
Blackish: #313E50
Blue: #3A435E
slate: #66737D
grey: #868996
light grey: #A6ABB2
*/

.header{
  background: #3A435E;
  color: #868996;
  height: 130px;
  text-align: center;
}

.header-text{
  font-size: 36px;
  padding: 50px;
  margin-bottom: 50px;
}

.body-layout{
  background-color: #313E50;
  height: 800px;
}

.view-pane{
  margin: auto;
  height: 250px;
  width: 700px;
  /*background-color: #66737D;*/
  background-color: black;
}

.view-pane-words{
  padding: 40px;
  font-size: 18px;
  /*color: #A6ABB2;*/
  color: white;
}

.type-pane{
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 100px;
  font-size: 36px;
}

.message-box{
  color:yellow;
  text-align: center;
  margin: auto;
  width: 300px;
}

.watchface{
  margin: auto;
  color:red;
}

.highscore{
  color: white;
}

.current-word{
  color: green;
}
