/*
Colors:
BKG Blue: 3B4252
Text Input Box: ECEFF4
Dark Text: 3B4252
Red Text: BF616A
Green Text: A3BE8C
Quote Text: ECEFF4
Text Input Font: Nunito Regular 60px
Quote Font: Nunito Regular 28 px
High Score/Games Played Font: Nunito Light 12 px
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3B4252;
}

.body-layout{
  font-family: 'Nunito', sans-serif;
}

.view-pane{
  margin: auto;
  height: 250px;
  width: 700px;
  /*background-color: #66737D;*/
}

.view-pane-words{
  padding: 40px;
  font-size: 18px;
  /*color: #A6ABB2;*/
  color: #ECEFF4;
}

.current-word-correct{
  color: #A3BE8C;
}

.current-word-incorrect{
  color: #BF616A;
}

.type-pane{
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 100px;
  font-size: 36px;
  background-color: #ECEFF4;
  color: #3B4252;
}
.type-pane::-webkit-input-placeholder {
     text-align: center;
}
.type-pane:-moz-placeholder { /* Firefox 18- */
     text-align: center;
}
.type-pane::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;
}
.type-pane:-ms-input-placeholder {
     text-align: center;
}

.message-box{
  color:yellow;
  text-align: center;
  margin: auto;
  width: 300px;
}

.watchface{
  color: #BF616A;
  text-align: center;
}

.highscore{
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  color: white;
  text-align: right;
  padding: 20px;
  display: inline-block;
}

.games-played{
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  color: white;
  text-align: left;
  padding: 20px;
  display: inline-block;
}
