/*
Colors:
BKG Blue: 3B4252
Text Input Box: ECEFF4
Dark Text: 3B4252
Red Text: BF616A
Green Text: A3BE8C
Quote Text: ECEFF4
Dark grey text: 808080
Text Input Font: Nunito Regular 60px
Quote Font: Nunito Regular 28 px
High Score/Games Played Font: Nunito Light 12 px
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3B4252;
  font-family: 'Nunito', sans-serif;
}

.logo-space{
  padding-top: 20px;
  margin-left: 115px;
  margin-bottom: 20px;
  height: 100px;
  color: white;
}

.ad-goes-here{
  background-color: black;
  height: 500px;
  display: inline-block;
  width: 200px;
  float: right;
  margin-right: 60px;
}

.body-layout{
  display: inline-block;
  margin-left: 30px;
  margin-right: 70px;
  margin-bottom: 50px;
  width: 850px;
  float: left;
}

.view-pane{
  margin: auto;
  height: auto;
  width: 700px;
  min-height: 220px;
}

.view-pane-words{
  font-size: 18px;
  color: #ECEFF4;
}

.view-pane-author{
  text-align: right;
  color: #808080;
  margin-top: 30px;
  font-size: 18px;
}

.current-word-correct{
  color: #A3BE8C;
}

.current-word-incorrect{
  color: #BF616A;
}

.type-pane{
  margin: auto;
  height: 70px;
  width: 55%;
  font-size: 36px;
  background-color: #E6E6E6;
  color: #3B4252;
}
.type-pane::-webkit-input-placeholder {
  text-align: center;
}
.type-pane:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}
.type-pane::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}
.type-pane:-ms-input-placeholder {
  text-align: center;
}

.esc-to-skip{
  text-align: center;
  color: #808080;
}

.recent-score{
  color: #A3BE8C;
  text-align: center;
  margin-top: 25px;
  width: 100%;
  font-size: 40px;
  height: 100px;
}

.stats-display{
  color: #808080;
  font-weight: 100;
  font-size: 18px;
  padding-left: 60px;
  padding-right: 60px;
}

.watchface{
  text-align: center;
  display: inline-block;
  width: 33%;
}

.highscore{
  text-align: left;
  display: inline-block;
  width: 33%
}

.average-score{
  text-align: right;
  display: inline-block;
  width: 33%;
}

.stat-item{
  text-align: center;
}
